
$primary-color:navy;
$font-stack: 'Cinzel', serif;
$font-color: white;


.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container img {
    height: 250px;
    width: 250px;
    margin: 5px;

}

nav {
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: right;

    }
    li {
        display:inline-flex;
    }
    a {
        display: block;
        padding: 2px 4px;
        text-decoration: none;
    }
}