
$base-color:navy;
$base-font-family: 'Cinzel', serif;
$base-font-color: white;


.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container img {
    height: 250px;
    width: 250px;
    margin: 5px;

}