.doc {
  background-color: navy;
  color: white;
  font-family: "Cinzel", serif; }

.title {
  font-size: 4em; }

.body {
  margin-top: 10em; }

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: navy; }

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: navy; }
  .container img {
    height: 250px;
    width: 250px;
    margin: 5px; }

nav {
  display: right;
  font-size: 2em;
  background-color: navy;
  color: white;
  font-family: "Cinzel", serif; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: right; }
  nav li {
    display: inline-flex; }
  nav a {
    display: block;
    padding: 2px 4px;
    text-decoration: none; }

.footer {
  float: bottom; }
