.doc {
  background-color: navy;
  color: white;
  font-family: "Cinzel", serif; }

.title {
  font-size: 2em; }

.body {
  margin-top: 10em; }

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: navy; }

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: navy; }
  .container img {
    height: 450px;
    width: 450px;
    margin: 5px; }

nav {
  display: flex;
  font-size: 2 em;
  justify-content: space-between; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: right; }

li {
  display: inline-flex; }

a {
  display: block;
  padding: 2px 4px;
  text-decoration: none; }

.footer {
  float: bottom; }
